@using Entidades
@{
    BePregunta Pregunta = ViewBag.Pregunta as BePregunta;
}

<div class=row>
    <div class=col-sm-12>
        Ahora vamos a empezar el listado de preguntas.
    </div>
</div>

<script src="@Url.Content("~/Scripts/sintesis.js")"></script>